In [1]:
import pandas as pd

business_data_seoul = pd.read_csv("서울시우리마을가게상권분석서비스-프로파일링데이터정보.csv")
b_d = business_data_seoul
b_d.head(20)

    골목상권 번호     골목상권 명  엑스좌표 값  와이좌표 값  시군구 코드    행정동 코드  기준 년월 코드
0     12051   동일로203가길  205671  460042   11350  11350625    201506
1     12052      한천로_B  202225  460296   11305  11305630    201506
2     12053     덕릉로57길  203316  460091   11320  11320512    201506
3     12054    한천로140길  202506  460292   11305  11305630    201506
4     13517     목동동로8길  188661  446365   11470  11470630    201506
5     13518     학동로88길  204618  446525   11680  11680580    201506
6     12207     삼선교로_A  200740  454166   11290  11290555    201506
7     12208     동소문로_C  200785  454394   11290  11290555    201506
8     12210     용마산로_A  208653  454526   11260  11260575    201506
9     12211     증산로15길  192286  454338   11380  11380640    201506
10    12419   퇴계로87길_B  201885  451929   11140  11140670    201506
11    12420     천호대로_C  204722  451789   11200  11200790    201506
12    12422      능동로_B  207403  451498   11215  11215750    201506
13    12423  월드컵북로6길_A  193067  451311   11440  11440710    201506
14    12424        마장로  203809  451929   11200  11200540    201506
15    12427      무학로_B  202816  451676   11200  11200535    201506
16    12428      장한로_C  206027  451704   11230  11230650    201506
17    12429    월드컵로36길  191526  451775   11440  11440730    201506
18    12640    올림픽로98길  211492  450080   11740  11740570    201506
19    12641      상암로_C  211083  450084   11740  11740580    201506

In [2]:
business_sales_seoul = pd.read_csv("서울시우리마을가게상권분석서비스(상권-추정매출)_2019_1분기.csv",encoding = 'euc-kr')
b_s = business_sales_seoul
b_s.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2019,1,A,골목상권,1000001,계동길,CS100001,한식음식점,689554776,19850,...,333,7876,9010,50,3749,5447,3447,2541,1656,17
1,2019,1,A,골목상권,1000001,계동길,CS100002,중식음식점,40472439,2154,...,32,863,1254,174,815,471,424,179,53,1
2,2019,1,A,골목상권,1000001,계동길,CS100003,일식음식점,66221879,1636,...,217,697,666,0,154,531,271,204,205,4
3,2019,1,A,골목상권,1000001,계동길,CS100004,양식음식점,190423119,3717,...,100,1605,1839,31,1183,769,585,653,223,5
4,2019,1,A,골목상권,1000001,계동길,CS100005,분식전문점,216414925,13223,...,0,4186,7464,248,2844,3998,2398,1540,619,6

In [3]:
b_s.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [4]:
b_s['상권_구분_코드_명'].unique() #'골목상권', '발달상권', '전통시장', '관광특구'

array(['골목상권', '발달상권', '전통시장', '관광특구'], dtype=object)

In [5]:
b_s['서비스_업종_코드_명'].unique() 
#['한식음식점', '중식음식점', '일식음식점', '양식음식점', '분식전문점', '패스트푸드점', '제과점',
#'커피·음료', '한의원', '두발미용업', '슈퍼마켓', '편의점', '의류점', '패션용품', '서적·문구','섬유제품', '주방·가정용품', 
#'호프·간이주점', '숙박업', '세탁소(가정)', '스포츠클럽', '의약·의료용품',
#'가구·가전', '통신판매업', '당구장', '식료품', '화장품', '화초·애완', '치킨전문점', '치과의원',
#'가전제품수리', 'PC방', '외국어학원', '피부관리실', '예체능학원', '노래방', '네일숍', '핸드폰',
#'일반의원', '자동차수리·세차', '일반교습학원', '건강보조식품', '오락·운동', '컴퓨터·주변기기',
#'부동산중개업']

array(['한식음식점', '중식음식점', '일식음식점', '양식음식점', '분식전문점', '패스트푸드점', '제과점',
       '커피·음료', '한의원', '두발미용업', '슈퍼마켓', '편의점', '의류점', '패션용품', '서적·문구',
       '섬유제품', '주방·가정용품', '호프·간이주점', '숙박업', '세탁소(가정)', '스포츠클럽', '의약·의료용품',
       '가구·가전', '통신판매업', '당구장', '식료품', '화장품', '화초·애완', '치킨전문점', '치과의원',
       '가전제품수리', 'PC방', '외국어학원', '피부관리실', '예체능학원', '노래방', '네일숍', '핸드폰',
       '일반의원', '자동차수리·세차', '일반교습학원', '건강보조식품', '오락·운동', '컴퓨터·주변기기',
       '부동산중개업'], dtype=object)

In [6]:
#서비스 업종('한식음식점', '중식음식점', '일식음식점', '양식음식점', '분식전문점', '패스트푸드점', '제과점','커피·음료')/발달상권/2019/20,30대 연령대 매출 건수/점포수
#위 조건으로 새로운 df 구성.
baldal_b_s = b_s[(b_s['상권_구분_코드_명'] == '발달상권')]
baldal_b_s = baldal_b_s[b_s['서비스_업종_코드_명'].isin(['한식음식점', '중식음식점', '일식음식점', '양식음식점', '분식전문점', '패스트푸드점', '제과점','커피·음료'])]
baldal_b_s = baldal_b_s[["기준_년_코드","상권_코드","상권_코드_명","연령대_20_매출_건수",'연령대_30_매출_건수',"점포수"]]
baldal_b_s.head()

c:\users\nb42\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

       기준_년_코드    상권_코드        상권_코드_명  연령대_20_매출_건수  연령대_30_매출_건수  점포수
20757     2019  1001011  서울 금천구 시흥1동_4         16697         17227   80
20758     2019  1001011  서울 금천구 시흥1동_4          1041          1292    5
20759     2019  1001011  서울 금천구 시흥1동_4          1637          1616    9
20760     2019  1001011  서울 금천구 시흥1동_4           230           204    4
20761     2019  1001011  서울 금천구 시흥1동_4         12239          7102    7

In [7]:
baldal_b_s.head()

       기준_년_코드    상권_코드        상권_코드_명  연령대_20_매출_건수  연령대_30_매출_건수  점포수
20757     2019  1001011  서울 금천구 시흥1동_4         16697         17227   80
20758     2019  1001011  서울 금천구 시흥1동_4          1041          1292    5
20759     2019  1001011  서울 금천구 시흥1동_4          1637          1616    9
20760     2019  1001011  서울 금천구 시흥1동_4           230           204    4
20761     2019  1001011  서울 금천구 시흥1동_4         12239          7102    7

In [9]:
#상권코드명으로 groupby 
baldal_b_s_groupby_code = baldal_b_s.groupby(baldal_b_s["상권_코드_명"]).sum()
baldal_b_s_groupby_code.shape #252개의 발달 상권

(252, 5)

In [10]:
#csv로 출력
baldal_b_s_groupby_code.to_csv("baldal_b_s_groupby_code.csv")

In [11]:
#서울에서 점포 수 많은 상권 상위 20개 
baldal_b_s_groupby_code.sort_values(by =['점포수'], ascending = False).head(20)

                기준_년_코드    상권_코드  연령대_20_매출_건수  연령대_30_매출_건수   점포수
상권_코드_명
홍익대학교 주변          16152  8009456       3304745       1103856  1532
신사동 가로수길          16152  8009080        808386        601057   740
서울 서대문구 신촌역       16152  8009480       1538756        394086   692
서울 서초구 강남역        16152  8008680       1986649        815105   674
명동거리              16152  8009624        776014        602732   527
서울 영등포구 여의도역_1    16152  8009016        195758        306344   512
압구정 로데오거리_2       16152  8009128        312250        283228   505
종로구청              16152  8009816        494138        676081   469
서울 종로구 광화문역_2     16152  8009784        285312        353695   456
인사동               14133  7008610        260773        238278   448
교대역_1             16152  8008400        219524        279657   402
서울 강남구 강남역_2      16152  8008624        942860        461905   398
선릉역_2             16152  8008656        337171        433217   391
서울 강남구 역삼역_1      16152  8008584        545372        583218   388
구로디지탈1단지          16152  8008304        630311        797285   385
가산디지털단지역_3        16152  8008216        545667        668231   380
서울 종로구 종로3가역_2    16152  8009856        374803        205136   367
디지털미디어시티          16152  8009912        336678        405369   365
신천역               16152  8008744        427556        268178   360
서울 강남구 강남역        16152  8008528        752857        517468   352

In [12]:
#서울에서 점포 수 많은 상권 상위 50개 
baldal_b_s_groupby_code.sort_values(by =['점포수'], ascending = False).head(50)

                 기준_년_코드    상권_코드  연령대_20_매출_건수  연령대_30_매출_건수   점포수
상권_코드_명
홍익대학교 주변           16152  8009456       3304745       1103856  1532
신사동 가로수길           16152  8009080        808386        601057   740
서울 서대문구 신촌역        16152  8009480       1538756        394086   692
서울 서초구 강남역         16152  8008680       1986649        815105   674
명동거리               16152  8009624        776014        602732   527
서울 영등포구 여의도역_1     16152  8009016        195758        306344   512
압구정 로데오거리_2        16152  8009128        312250        283228   505
종로구청               16152  8009816        494138        676081   469
서울 종로구 광화문역_2      16152  8009784        285312        353695   456
인사동                14133  7008610        260773        238278   448
교대역_1              16152  8008400        219524        279657   402
서울 강남구 강남역_2       16152  8008624        942860        461905   398
선릉역_2              16152  8008656        337171        433217   391
서울 강남구 역삼역_1       16152  8008584        545372        583218   388
구로디지탈1단지           16152  8008304        630311        797285   385
가산디지털단지역_3         16152  8008216        545667        668231   380
서울 종로구 종로3가역_2     16152  8009856        374803        205136   367
디지털미디어시티           16152  8009912        336678        405369   365
신천역                16152  8008744        427556        268178   360
서울 강남구 강남역         16152  8008528        752857        517468   352
국회의사당역_2           16152  8009152        191995        259095   319
강남구 논현역_2          16152  8008760        421368        372662   310
서울 서대문구 이대역        16152  8009488        961207        125431   309
서울 강동구 천호역_2       16152  8009304        405643        245856   300
서울 중구 충무로역_2       14133  7008393        117410        145845   293
서울 영등포구 여의도역_2     16152  8009072        222613        360022   287
서울 관악구 서울대입구역_1    16152  8008200        488305        253927   277
서울 강남구 선릉역_2       14133  7007609        631785        465920   275
서울 성북구 성신여대입구역     16152  8009960        519748        180762   274
종각역 젊음의 거리         16152  8009704        429249        242426   267
혜화역 대학로_3          16152  8009936        428984        162046   264
서울 광진구 건대입구역_2     16152  8009320        866672        179356   244
고속터미널역             16152  8008688        951591        656198   243
가산디지털단지역_2         16152  8008184        381708        496139   241
서울 노원구 노원역_3       16152  8010104        475443        203026   237
서울 중구 을지로3가역_1     14133  7008428        142667        173204   236
서울 용산구 이태원역        16152  8009200        454045        245180   235
보라매공원              16152  8008408        214673        304637   234
북창동                16152  8009600        140153        173614   233
강남구 논현역_4          14133  7007763        112654        143966   230
서울 강남구 역삼역_2       14133  7007567        183347        247081   229
서울 은평구 연신내역_2      16152  8010032        289875        140667   227
신도림역               16152  8008768        563025        568317   224
서울 종로구 종로5가역_2     16152  8009808        130045        143980   222
서울시청               16152  8009672        212749        264387   220
서울 강남구 강남역_1       16152  8008496        367938        342804   216
서울 관악구 신림역_1       16152  8008248        503148        256550   212
코엑스                16152  8008824        538282        545418   209
방이동 먹자골목           14133  7007749        207776        144870   208
서울 동작구 노량진역        16152  8008840        945413        356167   208

In [ ]:
#서울에서 점포 수 적은 상권 상위 20개 
baldal_b_s_groupby_code.sort_values(by =['점포수']).head(20)

In [ ]:
#서울에서 20대의 매출 건수가 가장 높은 상권 상위 20개
baldal_b_s_groupby_code.sort_values(by = ['연령대_20_매출_건수'], ascending = False).head(20)

In [ ]:
#서울에서 20대의 매출 건수가 가장 높은 상권 상위 50개
baldal_b_s_groupby_code.sort_values(by = ['연령대_20_매출_건수'], ascending = False).head(50)

In [ ]:
#서울에서 30대의 매출 건수가 가장 높은 상권 상위 20개
baldal_b_s_groupby_code.sort_values(by = ['연령대_30_매출_건수'], ascending = False).head(20)

In [ ]:
#골목상권
golmok_b_s = b_s[(b_s['상권_구분_코드_명'] == '골목상권')]
golmok_b_s = golmok_b_s[golmok_b_s['서비스_업종_코드_명'].isin(['한식음식점', '중식음식점', '일식음식점', '양식음식점', '분식전문점', '패스트푸드점', '제과점','커피·음료'])]
golmok_b_s = golmok_b_s[["기준_년_코드","상권_코드","상권_코드_명","연령대_20_매출_건수",'연령대_30_매출_건수',"점포수"]]
golmok_b_s.head()

In [ ]:
golmok_b_s_groupby_code = golmok_b_s.groupby(f["상권_코드_명"]).sum()
golmok_b_s_groupby_code #1005개의 골목 상권

In [ ]:
#골목상권에서 점포수가 많은 상위 20개 상권
golmok_b_s_groupby_code.sort_values(by = "점포수", ascending = False).head(20)

In [ ]:
golmok_b_s_groupby_code[golmok_b_s_groupby_code["점포수"]>100].shape #24개
golmok_b_s_groupby_code[golmok_b_s_groupby_code["점포수"]>100].sort_values(["점포수"], ascending = False)

In [ ]:
golmok_b_s_groupby_code.sort_values(by = "연령대_20_매출_건수", ascending = False).head(20)

In [ ]:
#상권 코드명과 좌표계 mapping을 위한 데이터
#좌표계 정보 : GRS80TM
#구글 좌표계 : WGS-84
info_business_data_seoul = pd.read_csv("서울시우리마을가게상권분석서비스(상권영역).csv")
i_b_d = info_business_data_seoul
i_b_d.head()

In [ ]:
i_b_d[i_b_d["상권_코드_명"]=='홍익대학교 주변']