In [26]:
import csv
import pandas as pd
store = pd.read_csv("store.csv", encoding = 'utf-8')
store.head()
len(store['id_'].unique())

655

In [ ]:
popular = pd.read_csv("populartime.csv", encoding = 'utf-8')
popular.head()

In [19]:
store_rating = pd.read_csv('store_rating.csv', encoding = 'utf-8')
store_rating.head()

,id_,date,week,business_distinct_code,business_area_code,rating,rating_n,timespent_min,timespent_max
0,ChIJS1TPDq2lfDURmwOS5a-VQME,2019-12-5,1,R,1001480,4.2,71,60,150
1,ChIJH1qeCheefDURKJVB0fwMpXU,2019-12-5,1,R,1001418,3.7,70,0,0
2,ChIJw00VJvadfDURUSvgXSrOWNA,2019-12-5,1,R,1001421,3.7,90,20,20
3,ChIJGZmBb4qdfDURgWVz_oM-Mqw,2019-12-5,1,R,1001422,3.7,57,90,180
4,ChIJbSlq2zSgfDURnnmkXNX2sD8,2019-12-5,1,R,1001450,3.9,141,20,20

In [22]:
current_pop = pd.read_csv('current_populartiy.csv', encoding = 'utf-8')
current_pop.head()

,id_,date,week,hour,store_name,current_popular,business_distinct_code,business_area_code
0,ChIJS1TPDq2lfDURmwOS5a-VQME,2019-12-5,1,23:00:00,Coffee Buy Roasters,0,R,1001480
1,ChIJH1qeCheefDURKJVB0fwMpXU,2019-12-5,1,23:00:00,녹원BYC,43,R,1001418
2,ChIJw00VJvadfDURUSvgXSrOWNA,2019-12-5,1,23:00:00,이마트 에브리데이 개봉점,0,R,1001421
3,ChIJGZmBb4qdfDURgWVz_oM-Mqw,2019-12-5,1,23:00:00,투썸플레이스오류역점,0,R,1001422
4,ChIJbSlq2zSgfDURnnmkXNX2sD8,2019-12-5,1,23:00:00,홈플러스익스프레스 남성점,0,R,1001450